:root {
    --square-border-thickness: 0.05em;
    --square-width: 4em;
    --square-height: 4em;
    --piece-size: 2em;
}

.board {
    display: table-cell;
}

.row {
    display: table-row;
}

.rowCoordinate {
    display: table-cell;
    border: #000000 0.1em solid;
    vertical-align: middle;
    horiz-align: center;
    padding: 0.5em;
}

.cornerCoordinate {
    display: table-cell;
    border: #000000 0.1em solid;
}

.columnCoordinate {
    display: table-cell;
    border: #000000 0.1em solid;
    horiz-align: center;
    vertical-align: middle;
}

.square {
    display: table-cell;
    border: #000000 var(--square-border-thickness) solid;
    vertical-align: middle;
    horiz-align: center;
    height: var(--square-height);
    width: var(--square-width);
}

.square-inner {
    border: #ffffff var(--square-border-thickness) solid;
    display: inline-block;
    width: 80%;
    height: 80%;
    vertical-align: middle;
    horiz-align: center;
    font-size: var(--piece-size);
}

.square-inner:hover {
    border: #777777 var(--square-border-thickness) solid;
}

.square-inner-selected {
    border: #000000 var(--square-border-thickness) solid !important;
}