:root {
    --square-border-thickness: 0.05em;
    --square-width: 5em;
    --square-height: 5em;
    --piece-size: 3em;
}

.right-margin {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.status-bar {
    margin-bottom: auto;
}

.controls {
    margin-top: auto;
}

.main {
    display: inline-flex;
}

.main table {
    border: #1a1a1a solid 0.1em;
}

.main td {
    padding: 0.5em;
}

.board {
    display: table-cell;
}

.row {
    display: table-row;
}

.rowCoordinate {
    display: table-cell;
    border: #000000 0.1em solid;
    vertical-align: middle;
    horiz-align: center;
    padding: 0.5em;
}

.cornerCoordinate {
    display: table-cell;
    border: #000000 0.1em solid;
}

.columnCoordinate {
    display: table-cell;
    border: #000000 0.1em solid;
    horiz-align: center;
    vertical-align: middle;
}

.square {
    display: table-cell;
    border: #000000 var(--square-border-thickness) solid;
    vertical-align: middle;
    horiz-align: center;
    height: var(--square-height);
    width: var(--square-width);
}

.black-square {
    background-color: #bf1d1d;
}

.white-square {
    background-color: #ffffff;
}

.square-inner {
    border: var(--square-border-thickness) none;
    display: inline-block;
    width: 80%;
    height: 80%;
    vertical-align: middle;
    horiz-align: center;
    font-size: var(--piece-size);
}

.square-inner:hover {
    border: #777777 var(--square-border-thickness) solid;
}

.square-inner-selected {
    border: #000000 var(--square-border-thickness) solid !important;
}